<div id="welcome-board" class="welcome-board">
  <aside id="left-side-menu" class="left-side-menu">
      <%= render 'partials/side_menu' %>
  </aside>
  <div id="dashboard" class="dashboard">
    <input type="search" placeholder="Find mum" id="find-mum-search" class="find-mum-search">
    <ul id="mums-list" class="mums-list">
    <% @mums.each do |mum| %>
      <li>
      <%= image_tag "https://static.pexels.com/photos/27411/pexels-photo-27411.jpg", id: "profile", class: "profile" %>
       <div id="profile" class="profile">
         <h3><%= "@#{mum.name}" %></h3>
         <%= link_to "View profile", "", id: "view-profile", class: "view-profile" %>
         <%= link_to "Comment", "", id: "comment-profile", class: "comment-profile" %>
       </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>
