<div id="welcome-board" class="welcome-board">
  <aside id="left-side-menu" class="left-side-menu">
      <%= render 'partials/side_menu' %>
  </aside>
  <div id="dashboard" class="dashboard">
    <input type="search" placeholder="Find mum" id="find-mum-search" class="find-mum-search">
    <%= select_tag :status, options_for_select( User.statuses.collect { |a| [a[0].capitalize, a[0]] }, "Coffee") %>
    <ul id="mums-list" class="mums-list">
    <% @mums.each do |mum| %>
      <li>
      <%= image_tag mum.image.url, id: "profile", class: "profile" %>
       <div id="profile" class="profile">
         <h3><%= "#{truncate mum.name, :length => 16}" %></h3>
         <%= link_to "Profile |", show_profile_path(mum.id), id: "view-profile", class: "view-profile" %>
         <%= link_to "Comment", show_profile_path(mum.id) + "#comments", id: "comment-profile", class: "comment-profile" %>
         <p><%= mum.status.to_s.capitalize %></p>
       </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>
