<div id="welcome-board" class="welcome-board">
  <% if flash[:notice] %>
  <div id="notice" class="notice">
    <div id="notice" class="notice">
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <aside id="left-side-menu" class="left-side-menu">
      <%= render 'partials/side_menu' %>
  </aside>
  <div id="profile-board" class="profile-board">
    <div id="profile-data" class="profile-data">
      <div id="image-container" class="image-container">
        <%= image_tag @user.image.url %>
      </div>
      <div id="user-data-container" class="user-data-container">
        <div id="address" class="address">
          <h1><%= @user.name.html_safe %></h1>
          <p>Miasto: <%= @user.address.city.html_safe if @user.address.city %></p>
          <p>Address: <%= @user.address.home_number if @user.address.home_number %>
          <%= @user.address.street.html_safe if @user.address.street %></p>
          <p>Kod pocztowy: <%= @user.address.post_code.html_safe if @user.address.post_code %></p>
          <p>Email: <%= @user.email.html_safe %></p>
        </div>
        <div id="social-media" class="social-media">
          <p>Facebook: <%= link_to @user.social.facebook.html_safe, "http://facebook.com/" + @user.social.facebook if @user.social.facebook %></p>
          <p>Twitter: <%= link_to @user.social.twitter.html_safe, "http://twitter.com/" + @user.social.twitter if @user.social.twitter %></p>
          <p>Instagram: <%= link_to @user.social.instagram.html_safe, "http://instagram.com/" + @user.social.instagram if @user.social.instagram %></p>
        </div>
      </div>
    </div>
    <div id="comments" class="comments">
      <h3>Comments:</h3>
      <div id="comments-container" class="comments-container">
        <% @comments.each do |c| %>
        <div id="comment" class="comment">
          <p><%= c.user.name.html_safe %> <span id="date" class="date"><%= c.created_at %></p>
          <p><%= c.comment.html_safe %></p>
        </div>
        <% end %>
      </div>
      <div id="form-comment-container" class="form-comment-container">
        <%= form_for :comment, url: comment_path do |f| %>
          <%= f.hidden_field :commenter_id, value: @user.id %>
          <%= f.hidden_field :user_id, value: session[:id] %>
          <%= f.text_area :comment %>
          <%= f.submit "Comment" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-105668964-1', 'auto');
    ga('send', 'pageview');
</script>

