<div id="logo" class="logo">mamuśki<span>.org</span></div>
<h4>Wyszukiwanie</h4>
<ul>
  <li id="home"><%= link_to "Home", show_profile_path(session[:id]) %></li>
  <li id="find-mom"><%= link_to "Szukaj mamusiek", all_path %></li>
  <li id="mom-nearby"><%= link_to "Pokaz w okolicy", moms_nearby_path %></li>
  <li id="help"><%= link_to "Pomocne linki" %></li>
</ul>
  <h4>Miejsca i wydarzenia</h4>
<ul>
  <li id="find-place"><%= link_to "Znajdź miejsce", list_path %></li>
  <li id="add-place"><%= link_to "Dodaj miejsce spotkan", new_place_path %></li>
  <li id="add-event"><%= link_to "Dodaj wydarzenie", events_new_path %></li>
  <li id="rate-place"><%= link_to "Ocen miejsce" %></li>
</ul>
<h4>Dane osobowe</h4>
<ul>
  <li id="update-data"><%= link_to "Akutalizuj swoje dane", edit_user_path(session[:id]) %></li>
  <li id="log-out"><%= link_to "Log out", sessions_destroy_path %>
</ul>
