<div id="logo" class="logo">mamajo<span>.org</span></div>
<h4>Wyszukiwanie</h4>
<ul>
  <li id="home"><%= link_to "Home", show_profile_path(session[:id]) %></li>
  <li id="find-mom"><%= link_to "Szukaj mamusiek", all_path %></li>
  <li id="mom-nearby"><%= link_to "Pokaz w okolicy", moms_nearby_path %></li>
  <li id="help"><%= link_to "Pomocne linki", links_path %></li>
</ul>
  <h4>Miejsca i wydarzenia</h4>
<ul>
  <li id="find-place"><%= link_to "Znajdź miejsce", list_path %></li>
  <li id="add-place"><%= link_to "Miejsce spotkan", new_place_path %></li>
  <li id="add-event"><%= link_to "Wydarzenie", events_new_path %></li>
</ul>
<h4>Dane osobowe</h4>
<ul>
  <li id="update-data"><%= link_to "Akutalizuj swoje dane", edit_user_path(session[:id]) %></li>
  <li id="add-social"><%= link_to "Sieci społecznościowe", socials_edit_path %></li>
  <li id="log-out"><%= link_to "Log out", sessions_destroy_path %>
</ul>
