<% if @social.errors.any? %>
  <ul>
    <% @social.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div id="welcome-board" class="welcome-board">
  <aside id="left-side-menu" class="left-side-menu">
      <%= render 'partials/side_menu' %>
  </aside>
  <div id="dashboard" class="dashboard">
    <div id="socials" class="socials">
      <div id="explanation-text">
        <h1>Media społecznościowe</h1>
        <p>W XXI wieku media społecznościowe zalały internet. Ponieważ My nie chcemy być jednym z kolejnych, którzy tylko zbierają wasze zdjęcia, pozwalamy umieścić linki do waszych profili na Waszych ulubioncyh mediach społecznościowych facebook. twitter oraz instagram. Podaj więc nazwe użytkownika której używasz w tych serwisach, aby inni mogli cię poznać.</p>
        <h2>Daj się poznać</h2>
        <p>Wiemy jak ważne jest poznawanie ludzi, chcemy aby przez nasz portal była też taka możliwość. Zdjęcia oraz posty i twitty zamieszane na facebook, instagram czy twitter pomagają. Dodaj linki do tych portali aby inni mogli cię poznać.</p>
        <p> Jeśli nie wiesz jaki jest twój login, przejdź na swój profil społecznościowy i w linku będzie zawarty twój login, który umieszczas w odpowiednim polu na przykład dla facebook, link wygląda http://www.facebook.com/tutaj_nazwa_profilu, więc w tym przypadku login to "tutaj_nazwa_profilu".</p>
        <%= image_tag "svg/socials.svg" %>
      </div>
      <div id="form" class="form">
        <%= form_for @social, url: { controller: 'socials', action: 'update' } do |f| %>
          <%= f.text_field :facebook, placeholder: "Nazwa użytkownika" %>
          <%= f.text_field :twitter, placeholder: "Nazwa użytkownika" %>
          <%= f.text_field :instagram, placeholder: "Nazwa użytkownika" %>
          <%= f.submit "Zmień link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-105668964-1', 'auto');
    ga('send', 'pageview');
</script>

