<% if @place.errors.any? %>
  <ul>
    <% @place.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div id="place" class="place">
  <aside id="left-side-menu" class="left-side-menu">
      <%= render 'partials/side_menu' %>
  </aside>
  <div id="dashboard" class="dashboard">
    <div id="explanation-text">
    <h1>Dodaj nowe miejsce</h1>
    <p>Wiesz o jakimś miejscu, które nie istieje jeszcze na naszej liście, a uważasz, że powinno? Dodaj. Podziel się z innymi. Wszystkie miejsca organizują wydarzenie jeśli wiesz o nich możesz je dodać <% link_to "tutaj", events_new_path %>.</p>
    <p>Chcemy, aby ten portal powstawał dzięki wam i żebyście to Wy brały w tworzeniu go aktywny udział. Dlatego dodawaj miejsca, wydarzenie i twórz portal do którego bedziesz chciała wracać.</p>
    <%= image_tag 'svg/hills.svg' %>
    </div>
    <div id="form" class="form">
      <%= form_for @place do |f| %>
        <div>
          <%= f.text_field :name, :placeholder => "Nazwa (Wymagane)" %>
        </div>
        <div>
          <%= f.text_field :city, :placeholder => "Miasto (Wymagane)"%>
        </div>
        <div>
          <%= f.number_field :local_no, :placeholder => "Numer lokalu (Wymagane)" %>
        </div>
        <div>
          <%= f.text_field :street, :placeholder => "Ulica (Wymagane)" %>
        </div>
        <div>
          <%= f.text_field :post_code, :placeholder => "Kod pocztowy (Wymagane)" %>
        </div>
        <div>
          <%= f.text_field :link, :placeholder => "Link do strony (Wymagane)" %>
        </div>
        <div>
          <%= f.text_field :open_hours, :placeholder => "Godziny otwarcia (Wymagane)" %>
        </div>
        <div>
          <%= f.text_area :description, :placeholder => "Krótki opis (Wymagane)" %>
        </div>
        <div>
          <%= f.file_field :image, :placeholder => "Zdjęcie miejsca" %>
        </div>
        <%= f.submit "Dodaj" %>
      <% end %>
    </div>
  </div>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-105668964-1', 'auto');
    ga('send', 'pageview');
</script>

